<header class="header-mobile d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <a class="logo" href="#">
                    eParking System
                </a>
                <button class="hamburger hamburger--slider" type="button" style = "background:#000;color:#fff">
                    <span class="hamburger-box">
                        |||
                    </span>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                {% if userType == 'employee' -%}
                <li>
                <a href="{{ url_for('backoffice') }}">
                    <i class="fas fa-tachometer-alt"></i>Dashboard
                </a>
                {% elif userType == 'agency' -%}
                <a href="{{ url_for('agency_panel') }}">
                    <i class="fas fa-tachometer-alt"></i>Dashboard
                </a>
                </li>
                {% endif -%}
                {% if userType == 'employee' and employee['superAdmin'] -%}


                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-cubes"></i>Parkings
                    </a>
                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                        <li>
                            <a href="{{ url_for('parkings', action='add') -}}">Add new</a>
                        </li>
                        <li>
                            <a href="{{ url_for('parkings') -}}">Show All</a>
                        </li>
                    </ul>
                </li>

                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-users"></i>Employees
                    </a>
                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                        <li>
                            <a href="{{ url_for('employees', action='add') -}}">Add new</a>
                        </li>
                        <li>
                            <a href="{{ url_for('employees') -}}">Show All</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-briefcase"></i>Agencies
                    </a>
                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                        <li>
                            <a href="{{ url_for('agencies', action='add') -}}">Add new</a>
                        </li>
                        <li>
                            <a href="{{ url_for('agencies') -}}">Show All</a>
                        </li>
                    </ul>
                </li>
                {% endif -%}
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-book"></i>Reservations
                    </a>
                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                        <li>
                            <a href="{{ url_for('reservations', action='add') -}}">Add new</a>
                        </li>
                        <li>
                            <a href="{{ url_for('reservations') -}}">Show All</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ url_for('logout', userType = userType) -}}">
                        <i class="fas fa-sign-out-alt"></i>Logout
                    </a>
                </li>

            </ul>
        </div>
    </nav>
</header>

<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            eParking System
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">

                <li>
                    {% if userType == 'employee' -%}
                    <a href="{{ url_for('backoffice') }}">
                        <i class="fas fa-tachometer-alt"></i>Dashboard
                    </a>
                    {% elif userType == 'agency' -%}
                    <a href="{{ url_for('agency_panel') }}">
                        <i class="fas fa-tachometer-alt"></i>Dashboard
                    </a>
                    {% endif -%}

                    
                </li>

                {% if userType == 'employee' and employee['superAdmin'] -%}
                <li class=" has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-cubes"></i>Parkings
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="{{ url_for('parkings', action='add') -}}">Add new</a>
                        </li>
                        <li>
                            <a href="{{ url_for('parkings') -}}">Show All</a>
                        </li>
                    </ul>
                </li>

                <li class=" has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-users"></i>Employees
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="{{ url_for('employees', action='add') -}}">Add new</a>
                        </li>
                        <li>
                            <a href="{{ url_for('employees') -}}">Show All</a>
                        </li>
                    </ul>
                </li>

                <li class=" has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-briefcase"></i>Agencies
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="{{ url_for('agencies', action='add') -}}">Add new</a>
                        </li>
                        <li>
                            <a href="{{ url_for('agencies') -}}">Show All</a>
                        </li>
                    </ul>
                </li>
                {% endif %}

                <li class=" has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-book"></i>Reservations
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            {% if userType == 'employee' -%}
                            <a href="{{ url_for('reservations', action='add') -}}">Add new</a>
                            {% elif userType == 'agency' -%}
                            <a href="{{ url_for('agency_reservations', action='add') -}}">Add new</a>
                            {% endif -%}
                        </li>
                        <li>
                            {% if userType == 'employee' -%}
                            <a href="{{ url_for('reservations') -}}">Show All</a>
                            {% elif userType == 'agency' -%}
                            <a href="{{ url_for('agency_reservations') -}}">Show all</a>
                            {% endif -%}
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="{{ url_for('logout', userType = userType) -}}">
                        <i class="fas fa-sign-out-alt"></i>Logout
                    </a>
                </li>




            </ul>
        </nav>
    </div>
</aside>

